body
{
 position: relative;
}

.line_1
{
width:80%;
height:10px;
left:150px;
background-color:white;
margin-top: 10px;
position: absolute;
}
.line_2 
{
    width:10%;
    height:10px;
    left:150px;
    background-color:white;
    margin-top: 30px;
    position: absolute;
}
.main_img
{
background-image: url('main_img.jpg');
 width:1000px;
 height:800px; 
 position:absolute;
 background-repeat: no-repeat;
 right:0%;
 z-index:-3;
}
/* orange part */
.orange_part
{
    padding-right:30px;
    padding-left:30px;
}
.bi
{
    margin-top:35px;
    color:white;
}
.coded
{
    font-size:50px;
}
.logo
{
    display:flex;
    padding-left:100px;
}
/* trend */
.trend
{
    text-orientation:upright;
    writing-mode:vertical-lr;
    color:white;
    font-size:3rem;
    font-weight:bolder;
    border:0.1em solid;
    background-color:rgba(255,68,0,0.8);
     float:right;
     right:7rem;
}
/* business */
.business
{
    font-size:200px;
    color:white;
    left:10%;
    padding-left:150px;
}
.flyer
{
    color:white;
    font-size:100px;
    left:10%;
    padding-left:170px;
}
.creative
{
    color:white;
    left:10%;
    padding-left:170px;
    font-size:30px;
}
/* black part */
.black
{
    color:white;
    left:10%;
    padding-left:170px;
    margin-top:100px;
}
.location
{
  color:white;
  left:10%;
  text-align:center;
  padding-left:50px; 
  margin-top:-30px;
}
.call
{
  color:white;
  left:10%;
  text-align:center; 
  padding-left:50px; 
  margin-top:-30px;
 }
.mail
{
  color:white;
  left:10%;
  text-align:center; 
  padding-left:50px;  
  margin-top:-30px;
}
/* cyan part */
.cyan_part
{
    padding-right:50px;
    padding-left:50px;
    padding-top:300px;
}
.a
{
    color:white;
    text-align: right;
    font-size:100px;
}
.peregraph
{
 text-align: center;
 color: white;
}
.hr
{
    border:3px black solid;
}
.hr_2
{
    border:3px cyan solid;
}
.image
{
    display:flex;
}
.www
{
    color:white;
    text-align:center;
    padding-top:50px;
}
.border_left
{
    border-left: white 10px solid;
    width:500px;
    height:819px;
    margin-top:-773px;
    left:30%;
}
.orange
{
    background-color: rgb(255, 69, 0,0.8);
    z-index: -2;
    width:700px;
    height:900px;
    position:absolute;
    left:10%;
}
.cyan_part
{
    background-color:rgb(0, 255, 255,0.8);
    bottom:0%;
    right:0%;
    position: absolute;
    z-index: -1;
    width:550px;
    height:900px;


}